Q1.Create a dataset as follow in the table

In [2]:
dataset = [
    {"Tid": 1, "Refund": "Yes", "Marital Status": "Single", "Taxable Income": "125K", "Cheat": "No"},
    {"Tid": 2, "Refund": "No", "Marital Status": "Married", "Taxable Income": "100K", "Cheat": "No"},
    {"Tid": 3, "Refund": "No", "Marital Status": "Single", "Taxable Income": "70K", "Cheat": "No"},
    {"Tid": 4, "Refund": "No", "Marital Status": "Married", "Taxable Income": "120K", "Cheat": "No"},
    {"Tid": 5, "Refund": "Yes", "Marital Status": "Divorced", "Taxable Income": "95K", "Cheat": "Yes"},
    {"Tid": 6, "Refund": "No", "Marital Status": "Married", "Taxable Income": "60K", "Cheat": "No"},
    {"Tid": 7, "Refund": "Yes", "Marital Status": "Divorced", "Taxable Income": "220K", "Cheat": "No"},
    {"Tid": 8, "Refund": "No", "Marital Status": "Single", "Taxable Income": "85K", "Cheat": "Yes"},
    {"Tid": 9, "Refund": "No", "Marital Status": "Married", "Taxable Income": "75K", "Cheat": "No"},
    {"Tid": 10, "Refund": "No", "Marital Status": "Single", "Taxable Income": "90K", "Cheat": "Yes"}
]

for record in dataset:
    print(record)

{'Tid': 1, 'Refund': 'Yes', 'Marital Status': 'Single', 'Taxable Income': '125K', 'Cheat': 'No'}
{'Tid': 2, 'Refund': 'No', 'Marital Status': 'Married', 'Taxable Income': '100K', 'Cheat': 'No'}
{'Tid': 3, 'Refund': 'No', 'Marital Status': 'Single', 'Taxable Income': '70K', 'Cheat': 'No'}
{'Tid': 4, 'Refund': 'No', 'Marital Status': 'Married', 'Taxable Income': '120K', 'Cheat': 'No'}
{'Tid': 5, 'Refund': 'Yes', 'Marital Status': 'Divorced', 'Taxable Income': '95K', 'Cheat': 'Yes'}
{'Tid': 6, 'Refund': 'No', 'Marital Status': 'Married', 'Taxable Income': '60K', 'Cheat': 'No'}
{'Tid': 7, 'Refund': 'Yes', 'Marital Status': 'Divorced', 'Taxable Income': '220K', 'Cheat': 'No'}
{'Tid': 8, 'Refund': 'No', 'Marital Status': 'Single', 'Taxable Income': '85K', 'Cheat': 'Yes'}
{'Tid': 9, 'Refund': 'No', 'Marital Status': 'Married', 'Taxable Income': '75K', 'Cheat': 'No'}
{'Tid': 10, 'Refund': 'No', 'Marital Status': 'Single', 'Taxable Income': '90K', 'Cheat': 'Yes'}

Q2.From the above table that you have created, locate row 0, 4, 7 and 8 using DataFrame.

In [1]:
import pandas as pd
data = [
    {"Tid": 1, "Refund": "Yes", "Marital Status": "Single", "Taxable Income": "125K", "Cheat": "No"},
    {"Tid": 2, "Refund": "No", "Marital Status": "Married", "Taxable Income": "100K", "Cheat": "No"},
    {"Tid": 3, "Refund": "No", "Marital Status": "Single", "Taxable Income": "70K", "Cheat": "No"},
    {"Tid": 4, "Refund": "No", "Marital Status": "Married", "Taxable Income": "120K", "Cheat": "No"},
    {"Tid": 5, "Refund": "Yes", "Marital Status": "Divorced", "Taxable Income": "95K", "Cheat": "Yes"},
    {"Tid": 6, "Refund": "No", "Marital Status": "Married", "Taxable Income": "60K", "Cheat": "No"},
    {"Tid": 7, "Refund": "Yes", "Marital Status": "Divorced", "Taxable Income": "220K", "Cheat": "No"},
    {"Tid": 8, "Refund": "No", "Marital Status": "Single", "Taxable Income": "85K", "Cheat": "Yes"},
    {"Tid": 9, "Refund": "No", "Marital Status": "Married", "Taxable Income": "75K", "Cheat": "No"},
    {"Tid": 10, "Refund": "No", "Marital Status": "Single", "Taxable Income": "90K", "Cheat": "Yes"}
]

df = pd.DataFrame(data)
selected_rows = df.iloc[[0, 4, 7, 8]]
print(selected_rows)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
4    5    Yes       Divorced            95K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No

Q3.Navigate the DataFrame and do the following task for the table created in question 1:
1. Select row from index 3 to 7.
2. Select row from index 4 to 8, and column 2 to 4.
3. Select all rows with column index 1 to 3 (include index 3 during selection).

In [ ]:
import pandas as pd
data = [
    {"Tid": 1, "Refund": "Yes", "Marital Status": "Single", "Taxable Income": "125K", "Cheat": "No"},
    {"Tid": 2, "Refund": "No", "Marital Status": "Married", "Taxable Income": "100K", "Cheat": "No"},
    {"Tid": 3, "Refund": "No", "Marital Status": "Single", "Taxable Income": "70K", "Cheat": "No"},
    {"Tid": 4, "Refund": "No", "Marital Status": "Married", "Taxable Income": "120K", "Cheat": "No"},
    {"Tid": 5, "Refund": "Yes", "Marital Status": "Divorced", "Taxable Income": "95K", "Cheat": "Yes"},
    {"Tid": 6, "Refund": "No", "Marital Status": "Married", "Taxable Income": "60K", "Cheat": "No"},
    {"Tid": 7, "Refund": "Yes", "Marital Status": "Divorced", "Taxable Income": "220K", "Cheat": "No"},
    {"Tid": 8, "Refund": "No", "Marital Status": "Single", "Taxable Income": "85K", "Cheat": "Yes"},
    {"Tid": 9, "Refund": "No", "Marital Status": "Married", "Taxable Income": "75K", "Cheat": "No"},
    {"Tid": 10, "Refund": "No", "Marital Status": "Single", "Taxable Income": "90K", "Cheat": "Yes"}
]
df = pd.DataFrame(data)

rows_3_to_7 = df.iloc[3:8]
print("Rows from index 3 to 7:\n", rows_3_to_7)

rows_4_to_8_cols_2_to_4 = df.iloc[4:9, 2:5]
print("\nRows 4 to 8, Columns 2 to 4:\n", rows_4_to_8_cols_2_to_4)

cols_1_to_3_all_rows = df.iloc[:, 1:4]
print("\nAll rows, columns 1 to 3:\n", cols_1_to_3_all_rows)

Q4. Read a csv file and display its first five rows.
Note-: Download dataset from https://www.kaggle.com/datasets/uciml/iris)

In [ ]:
import pandas as pd
# Load the dataset (make sure you download 'Iris.csv' from Kaggle and give the correct path)
df = pd.read_csv("Iris.csv")
print(df.head())

Q5. From the csv file (uploaded in the Q.4) delete row 4, and delete column 3. Display the
result.

In [ ]:
import pandas as pd
df = pd.read_csv("Iris.csv")
df = df.drop(index=4)
df = df.drop(df.columns[3], axis=1)
print(df.head(10))

Q6.Create a sample dataset (employees.csv) containing information about employees in
a company.
WAP to determine the following using dataset in Q6:
a) Shape (number of rows and columns) of the DataFrame.
b) Summary of the DataFrame that includes the data types and non-null counts for
each column.
c) Generate descriptive statistics.
d) Display the first 5 rows and last 3 rows of the dataset.
e) Calculate the following statistics from the dataset:
i. The average salary of employees.
ii. The total bonus paid to all employees.
iii. The youngest employee's age.
iv. The highest performance rating.
f) Sort the DataFrame by the Salary column in descending order.
g) Add a new column that categorizes employees based on their performance rating:
i. Excellent for ratings >= 4.5
ii. Good for ratings >= 4.0 but < 4.5
iii. Average for ratings < 4.0
h) Identify missing values in the DataFrame.
i) Rename the Employee_ID column to ID.
j) Find all employees who:
i. Have more than 5 years of experience.
ii. Belong to the IT department.
k) Modify the dataset by adding a new column, Tax, which deducts 10% of the
Salary.
l) Save the modified DataFrame (with added columns) to a new CSV file.

In [3]:
import pandas as pd
data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Edward'],
    'Department': ['HR', 'IT', 'IT', 'Marketing', 'Sales'],
    'Age': [29, 34, 41, 28, 38],
    'Salary': [50000, 70000, 65000, 55000, 60000],
    'Years_of_Experience': [4, 8, 10, 3, 12],
    'Joining_Date': ['2020-03-15', '2017-07-19', '2013-06-01', '2021-02-10', '2010-11-25'],
    'Gender': ['Female', 'Male', 'Male', 'Female', 'Male'],
    'Bonus': [5000, 7000, 6000, 4500, 3000],
    'Rating': [4.5, 4.0, 3.8, 4.7, 3.5]
}
df = pd.DataFrame(data)

print("a) Shape:", df.shape)

print("\nb) Summary:")
print(df.info())

print("\nc) Descriptive Statistics:")
print(df.describe())

print("\nd) First 5 Rows:")
print(df.head())

print("\nLast 3 Rows:")
print(df.tail(3))

print("\ne) Calculated Statistics:")
print("i. Average Salary:", df['Salary'].mean())
print("ii. Total Bonus:", df['Bonus'].sum())
print("iii. Youngest Employee Age:", df['Age'].min())
print("iv. Highest Rating:", df['Rating'].max())

print("\nf) Sorted by Salary (Descending):")
print(df.sort_values(by='Salary', ascending=False))

def performance_category(rating):
    if rating >= 4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"

df['Performance'] = df['Rating'].apply(performance_category)
print("\ng) DataFrame with Performance Category:")
print(df[['Name', 'Rating', 'Performance']])

print("\nh) Missing Values:")
print(df.isnull().sum())

df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print("\ni) Renamed Column:")
print(df.columns)

filtered = df[(df['Years_of_Experience'] > 5) & (df['Department'] == 'IT')]
print("\nj) Employees with >5 years experience in IT:")
print(filtered)

df['Tax'] = df['Salary'] * 0.10
print("\nk) DataFrame with Tax Column:")
print(df[['Name', 'Salary', 'Tax']])

df.to_csv("modified_employees.csv", index=False)
print("\nl) Saved modified DataFrame to 'modified_employees.csv'")

a) Shape: (5, 10)

b) Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None

c) Descriptive Statistics:
       Employee_ID        Age       Salary  Years_of_Experience        Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.000000
mean    103.000000  34.000000  60000.00000             7.400000  5100.000000
std       1.581139   5.612486   7905.69415             3.847077  1516.575089
min     101.000000  28.000000  50000.00000             3.000000  3000.000000
25%     102.000000  29.000000  55000.00000             4.000000  4500.000000
50%     103.000000  34.000000  60000.00000             8.000000  5000.000000
75%     104.000000  38.000000  65000.00000            10.000000  6000.000000
max     105.000000  41.000000  70000.00000            12.000000  7000.000000

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

d) First 5 Rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   3000     3.5

Last 3 Rows:
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   3000     3.5

e) Calculated Statistics:
i. Average Salary: 60000.0
ii. Total Bonus: 25500
iii. Youngest Employee Age: 28
iv. Highest Rating: 4.7

f) Sorted by Salary (Descending):
   Employee_ID     Name Department  Age  Salary  Years_of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   3000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

g) DataFrame with Performance Category:
      Name  Rating Performance
0    Alice     4.5   Excellent
1      Bob     4.0        Good
2  Charlie     3.8     Average
3    Diana     4.7   Excellent
4   Edward     3.5     Average

h) Missing Values:
Employee_ID            0
Name                   0
Department             0
Age                    0
Salary                 0
Years_of_Experience    0
Joining_Date           0
Gender                 0
Bonus                  0
Rating                 0
Performance            0
dtype: int64

i) Renamed Column:
Index(['ID', 'Name', 'Department', 'Age', 'Salary', 'Years_of_Experience',
       'Joining_Date', 'Gender', 'Bonus', 'Rating', 'Performance'],
      dtype='object')

j) Employees with >5 years experience in IT:
    ID     Name Department  Age  Salary  Years_of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance
1   Male   7000     4.0        Good
2   Male   6000     3.8     Average

k) DataFrame with Tax Column:
      Name  Salary     Tax
0    Alice   50000  5000.0
1      Bob   70000  7000.0
2  Charlie   65000  6500.0
3    Diana   55000  5500.0
4   Edward   60000  6000.0

l) Saved modified DataFrame to 'modified_employees.csv'