Q1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [3]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("List after adding 200 and 300:", L)
L.remove(10)
L.remove(30)
print("List after removing 10 and 30:", L)
L.sort()
print("Ascending order:", L)
L.sort(reverse=True)
print("Descending order:", L)

List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
Ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
Descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Q2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [4]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest_score = max(scores)
highest_index = scores.index(highest_score)
print(f"Highest score is {highest_score} at index {highest_index}")

lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print(f"Lowest score is {lowest_score} and it appears {lowest_count} time(s)")

reversed_scores = list(scores[::-1])
print(f"Reversed tuple as a list: {reversed_scores}")

user_score = float(input("Enter a score to search in the tuple: "))
if user_score in scores:
    score_index = scores.index(user_score)
    print(f"The score {user_score} is present at index {score_index}")
else:
    print(f"The score {user_score} is not present in the tuple.")

Highest score is 92 at index 5
Lowest score is 45 and it appears 2 time(s)
Reversed tuple as a list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Enter a score to search in the tuple: 50
The score 50.0 is not present in the tuple.

Q3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [5]:
import random
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = []
even_numbers = []
prime_numbers = []

for num in random_numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

    if is_prime(num):
        prime_numbers.append(num)

print(f"Total odd numbers: {len(odd_numbers)}")
print(f"Total even numbers: {len(even_numbers)}")
print(f"Total prime numbers: {len(prime_numbers)}")

print(f"Odd numbers: {odd_numbers}")
print(f"Even numbers: {even_numbers}")
print(f"Prime numbers: {prime_numbers}")

Total odd numbers: 55
Total even numbers: 45
Total prime numbers: 18
Odd numbers: [401, 223, 491, 199, 755, 255, 239, 279, 763, 727, 415, 523, 511, 351, 147, 411, 865, 125, 475, 875, 227, 639, 133, 627, 307, 381, 821, 291, 687, 131, 685, 745, 373, 535, 757, 115, 197, 307, 265, 161, 451, 551, 177, 585, 607, 119, 431, 243, 709, 469, 289, 247, 665, 301, 657]
Even numbers: [242, 128, 338, 488, 202, 714, 818, 716, 222, 590, 776, 246, 588, 762, 798, 340, 428, 426, 800, 616, 726, 212, 346, 762, 694, 554, 730, 816, 450, 762, 894, 382, 236, 436, 416, 892, 490, 414, 636, 560, 858, 396, 410, 712, 378]
Prime numbers: [401, 223, 491, 199, 239, 727, 523, 227, 307, 821, 131, 373, 757, 197, 307, 607, 431, 709]

Q4.Consider the following two sets, A and B, representing scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score 𝑋 (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [7]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

union_set = A.union(B)
print(f"Unique scores achieved by both teams (Union of sets): {union_set}")

intersection_set = A.intersection(B)
print(f"Scores common to both teams (Intersection of sets): {intersection_set}")

symmetric_difference_set = A.symmetric_difference(B)
print(f"Scores exclusive to each team (Symmetric difference): {symmetric_difference_set}")

is_subset_A_of_B = A.issubset(B)
is_superset_B_of_A = B.issuperset(A)
print(f"Is team A's scores a subset of team B's scores? {is_subset_A_of_B}")
print(f"Is team B's scores a superset of team A's scores? {is_superset_B_of_A}")

X = int(input("Enter the score you want to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} has been removed from set A.")
else:
    print(f"Score {X} is not present in set A.")

Unique scores achieved by both teams (Union of sets): {34, 45, 78, 23, 56, 90}
Scores common to both teams (Intersection of sets): {90, 78}
Scores exclusive to each team (Symmetric difference): {34, 45, 23, 56}
Is team A's scores a subset of team B's scores? False
Is team B's scores a superset of team A's scores? False
Enter the score you want to remove from set A: 78
Score 78 has been removed from set A.

Q5. Write a program to rename a key city to a location in the following dictionary

In [10]:
sample_dict = {"name": "Kelly","age": 25,"salary": 8000,"city": "New york"}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}